html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.skillbox-link {
  margin-bottom: 50px;
}

.modules-indents-block {
  margin-bottom: 50px;
}

.modules-indents-link {
  display: inline-block;
  padding: 24px 49px;
}

.modules-indents-link:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.h1-article {
  margin: 0 auto;
  margin-bottom: 40px;
}

.h2-article {
  margin: 0 auto;
  margin-bottom: 10px;
}

.h3-article {
  margin: 0 auto;
  margin-bottom: 10px;
}

.article-paragraph {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-left: 0;
  width: 872px;

}

.highlighted-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}

.highlighted-block:not(:last-child) {
  margin-bottom: 40px;
}

.highlighted-paragraph {
  margin-bottom: 10px;
  margin-left: 0;
  width: 692px;
}

.list-parent {
  margin: 0 auto;
  padding-left: 15px;
}

.list-child:not(:last-child) {
  margin-bottom: 20px;
}

.article-image {
  margin-bottom: 40px;
}

.aticle-figure {
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
}
